.wrapper {
  max-width: 600px;
  display: block;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

.temperature-number {
  font-size: 1.5em;
  /* padding-left: .3em; */
}
ul {
  list-style: none;
}


a.active {
  color: orange;
  text-decoration: none;
}

a.active:hover {
  color: orange;
}

a.passive {
  color: black;
  text-decoration: none;
}
a.passive:hover {
  color: orange;
}
