.wrapper {
  max-width: 600px;
  display: block;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}



a.active {
  color: orange;
  text-decoration: none;
}

a.active:hover {
  color: orange;
}

a.passive {
  color: black;
  text-decoration: none;
}
a.passive:hover {
  color: orange;
}
